@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Fira Sans", sans-serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0E0B16;
  color: #E7DFDD;

}

code {
  font-family: "Fira Sans", sans-serif
}
